<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.randi.mapper.BoardMapper">

	<resultMap id="BoardList" type="kr.randi.domain.BoardVO" >
    	<result property="bno" column="bno" />
    	<result property="title" column="title" />
    	<!-- mysql에서 TEXT 컬럼을 읽어오기 위해서 VARCHAR로 변환 -->
    	<result property="content" column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
    	<result property="writer" column="writer" />
    	<result property="regdate" column="regdate" />
    	<result property="updatedate" column="updatedate" />
    	<result property="viewcnt" column="viewcnt" />
	</resultMap>

	<!-- bno > 0를 이용하여 인덱스를 타게 하도록 한다. -->
	<select id="getList" resultMap="BoardList">
		<![CDATA[
    	SELECT * FROM board.tbl_board WHERE bno > 0 and deleted <> 1
    	]]>
	</select>
	
	<insert id="insertBoard">
		INSERT INTO board.tbl_board(title, content, writer) VALUES (#{title}, #{content}, #{writer});
	</insert>
	
	<resultMap id="BoardArticle" type="kr.randi.domain.BoardVO" >
    	<result property="bno" column="bno" />
    	<result property="title" column="title" />
    	<!-- mysql에서 TEXT 컬럼을 읽어오기 위해서 VARCHAR로 변환 -->
    	<result property="content" column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
    	<result property="writer" column="writer" />
    	<result property="regdate" column="regdate" />
    	<result property="updatedate" column="updatedate" />
    	<result property="viewcnt" column="viewcnt" />
	</resultMap>
	
	<select id="getLastBno" resultType="long">
		SELECT LAST_INSERT_ID();
	</select>
	
	<select id="readBoard" resultMap="BoardArticle">
		SELECT * FROM board.tbl_board where bno = #{bno}
	</select>
	
	<update id="deleteBoard">
		UPDATE board.tbl_board SET deleted=1 WHERE bno = #{bno}
	</update>
	
	<update id="updateBoard">
		UPDATE board.tbl_board
		SET title = #{title},
			content = #{content},
			writer = #{writer}
		WHERE
			bno = #{bno}
	</update>
	
</mapper>